<footer id="page-footer">
  <p>
    Copyright &copy; 2015
      <%= link_to 'Made by Suyesh Bhandari', 'https://www.suyesh.com' %>
  </p>
  <p>
    For educational purposes only.   <%= link_to 'The Pragmatic Studio', 'http://pragmaticstudio.com' %>
  </p>
</footer>
